doctype html
html
  head
    title Friendability
    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='/dist/css/site.min.css')
    block styles
    block scripts
  body
    block content