<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="/app/app.module.js"></script>
<script src="/app/factories/user.factory.js"></script>
<script src="/app/controllers/login.controller.js"></script>

<div ng-app="app" ng-controller="LoginCtrl as ctrl">

    Login Test<br>
    <form method="POST" action="/login" enctype='application/json'>
        <input id="username" type="text" placeholder="Username" name="username" required /><br>
        <input id="password" type="password" placeholder="Password" name="password" required /><br><br>
        <button type="submit">Check login</button><br>
    </form>
    <a href="/requestPasswordReset">Forgot password</a><br>
    <a href="/">Home</a>

    <br><br>
    <div ng-repeat="username in ctrl.usernames">{{username}}</div> 

</div>