body {
    align-items: flex-start !important;
    overflow-y: auto !important; 
}

.home-link {
    position: absolute;
    top: 20px;
    right: 20px;
}

.policy {
    text-align: left;
    margin: 100px 15% 100px 15%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.em {
    color: #444;
    // margin-top: 1.2em;

    // & + span {
    //     margin-bottom: 2.4em;
    // }
}

.indent {
    padding-left: 30px;
}