#loginForm {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    margin: 8px 0;
    transition: 160ms ease-in;
    opacity: 0;

    input {
        height: 24px;
        width: 192px;
        margin: 4px 0;
        text-align: center;
        font-size: 16px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        border-radius: 6px;
        outline: none;

        &:focus {
            border: 1px solid #7E7E7E;
        }
    }

    button {
        height: 26px;
        width: 96px;
        text-align: center;
        font-size: 16px;
        background-color: #fff;
        color: #7E7E7E;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        cursor: pointer;
        outline: none;

        &:hover {
            border: 1px solid #7E7E7E;
        }
    }
}

.login-active {
    display: flex !important;
    opacity: 1 !important;

    input {
        height: 24px;
        width: 192px !important;
        margin: 4px 0;
        text-align: center;
        font-size: 16px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        border-radius: 6px;
        outline: none;
    }

    .btn-container {
        width: 196px !important;

        button {
            width: 96px !important;
        }
    }
}

.btn-container {
    display: flex; 
    flex-direction: row;
    box-sizing: border-box;
    width: 196px;
    transition: 160ms ease-in;
    
    button {
        &:first-child {
            margin: 3px 3px 3px 0;
        }
        &:last-child {
            margin: 3px 0 3px 3px;
        }
    }
}

.hidden {
    visibility: hidden;
}